
.reply-button {
    color: red;
}
.Comment {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.Comment__Userpic {
    padding-right: 0.6rem;
    padding-top: 0.5rem;
    min-width: 80px;
}

.Comment__header-user {
    color: white;
    text-decoration: underline;
    font-size: 100%;
    font-weight: 600;

    &:hover {
        color: white;
    }
}

.Comment__body {
    max-width: 50rem;
}

.Comment__footer {  
    .Comment__footer__controls {
      a {margin: 0 0.2rem;}
    }
}

.Comment__replies {
    margin-left: 70px;
}

@media screen and (max-width: 39.9em) {

    .Comment__Userpic {
        min-width: 40px;
        .avatar {
            margin-right: 0.2rem;
            background-color: red;
            width: 30px !important;
            height: 30px !important;
        }
    }

    .Comment__replies {
        margin-left: 40px;
    }

    .Comment__footer__controls {
        .Comment__controls {
            margin-left: 40px;
        }
    }
}