.item-wrapper {

    img {
        width:100%;
        border-radius:6px;
        margin-bottom:7px;
    }

    a {
        color:#fff;
        text-decoration:none;
    }

    .title {
        display: block;
        display: -webkit-box;
        overflow: hidden;
        font-weight: 500;
        font-size: 15px;
        white-space: normal;
        text-align: left;
        width: 100%;
        line-height: 1.30em;
        max-height: 2.6em;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    h6 {
        width:calc(100% - 70px);
        margin: 0;
    }

    .earnings {
        min-width:70px;
        font-size:12px;
        margin-top: 10px;
        color: #cccccc;
    }

    .meta-info {
        margin-top:5px;
        color:#888;
        font-size:13px;
        a:hover {
            text-decoration: underline;
        }
    }

}