.item-wrapper {

    img {
        width:100%;
        border-radius:6px;
        margin-bottom:7px;
    }

    a {
        color:#fff;
        text-decoration:none;
    }

    .title {
        font-size:14px;
        width:calc(100% - 70px);
    }

    h6 {
        width:calc(100% - 70px);
        margin: 0;
    }

    .earnings {
        min-width:70px;
        font-size:12px;
    }

    .meta-info {
        margin-top:5px;
        color:#888;
        font-size:13px;
        a:hover {
            text-decoration: underline;
        }
    }

}