.Select__menu {
	
}

.Select__option {
	color:#000 !important;
}

.Select__option--is-focused {
	background:#ffbbb5 !important;
	color:#000 !important;
}

.Select__option--is-selected {
	background:#C41502 !important;
	color:#fff !important;
	font-weight:600;
}